@charset "utf-8";
$phone: "only screen and (max-width:640px)";
$tablet: "only screen and (min-width:641px) and (max-width:959px)";
$pc: "only screen and (min-width:960px)";
//breakpoint setting: example @media #{$hoge}{css propaty}

$blue:#282655;
html,body{
  width:100%;
  padding:0;
  margin:0;
}
.triangle3{
  width:0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #fff;
  margin:0 auto;
  background-color:#212121 ;
  transform: translateY(-130px);
}

section#section01{
  background-image:url(../images/section01-bg.jpg);
  background-size:cover;
  padding:207px 15px 30px;
  .sentence{
    color:#fff;
    padding-left:143px;
    margin-bottom:200px;
    font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    h3{
      font-size:32px;
      margin-bottom:30px;
      text-shadow:2px 4px 8px black;
      font-weight:bold;
    }
    p{
      font-size:16px;
      text-shadow:2px 4px 8px black;
      font-weight:bold;
    }
  }
}
section#section02{
  padding-bottom:100px;
  position:relative;
  .contact_btn{
    width:70px;
    position:fixed;
    top:300px;
    right:0;
    transform:translateY(-50px);
    background:none;
    border:none;
    padding:0;
    z-index: 2;
    img{
      width:100%;
    }
  }
  .box{
    .content{
      justify-content: space-around;
      display:flex;
      width:70%;
      margin:0 auto;
      margin-bottom:80px;
      transform:translateY(-50px);
      z-index: 1;
      .item{
        width:30%;
        border:2px solid $blue;
        .title{
          background-color:$blue;
          color:#fff;
          padding-top:30px;
          padding-bottom:15px;
          padding-right:5px;
          padding-left:5px;
          margin-bottom:25px;
          text-align: center;
          h5{
            font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
            margin:0;
            font-size: 20px;
            font-weight:bold;
          }
        }
        .sentence{
          padding:0 30px;
          font-family: "ヒラギノ角ゴシック", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
          img{
            width:100%;
            margin-bottom: 15px;
          }
          p{
            font-size: 16px;
          }
        }
      }
    }
  }
  .box2{
    display:flex;
    width:70%;
    margin:0 auto;
    .img{
      width:50%;
      padding:5px;
      img{
        width:100%;
      }
    }
    .sentence{
      width:50%;
      padding:35px 20px 50px 50px;
      font-family: "ヒラギノ角ゴシック", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
      h5{
        font-size: 28px;
        color:$blue;
        margin-top:0;
        margin-bottom:15px;
        font-family: "ヒラギノ角ゴシック", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
      }
      span{
        background-color:$blue;
        width:70px;
        display: block;
        margin-bottom:35px;
        height:2px;
      }
      p{
        font-size: 16px;
        line-height: 1.6;
        font-family: "ヒラギノ角ゴシック", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
      }
    }
  }
}
section#section03{
  background-color:#212121;
  background-image:url(../images/section03-bg.png);
  background-size: cover;
  background-position:bottom;
  color:#fff;
  text-align: center;
  .inner{
    background-color: #212121;
    width:90%;
    margin:0 auto;
    height:100%;
    padding:130px 15px;
  }
  .title{
    margin-bottom:95px;
    font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  }
  h2{
    font-size:32px;
    margin-bottom:30px;
    font-weight:bold;
  }
  span{
    width:70px;
    height:2px;
    background-color:#fff;
    margin:auto;
    display: block;
    margin-bottom:30px;
  }
  p{
    font-size:16px;
    margin-bottom:30px;
  }
  .content{
    display:flex;
    justify-content: space-between;
    width:70%;
    margin:0 auto 95px auto;
    .img{
      width:45%;
      img{
        width:100%;
      }
    }
    .sentence{
      width:50%;
      text-align: left;
      h5{
        margin-bottom:25px;
        img{
          width:50%;
        }
      }
      p{
        padding-left: 40px;
        font-size:16px;
      }
    }
  }
  h4{
    font-size:28px;
    margin-bottom:15px;
  }
  span{
    background-color:#fff;
    height:2px;
    margin:auto auto;
    width:70px;
    margin-bottom:62px;
  }
  .content2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 980px;
    width:100%;
    margin:auto;
    .item{
      border:2px solid #fff;
      width:31%;
      margin:0 auto 30px auto;
      border-radius:5px;
      padding:15px;
      padding-top:0;
      box-sizing:border-box;
      title{
        display: block;
        font-size: 20px;
        border-bottom:3px #fff solid;
        padding:20px 0;
        box-sizing:border-box;
        margin-bottom:20px;
      }
      ul{
        padding:0;
        list-style: none;
        text-align: left;
        li{
          font-size: 16px;
        }
      }
    }
  }
}
section#section04{
  padding:100px 15px;
  font-family:"ヒラギノ角ゴシック";
  .title{
    text-align: center;
    font-family: "ヒラギノ明朝 Pro", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    h2{
      color:$blue;
      font-size: 32px;
      line-height:1.7;
      padding-bottom:20px;
      font-weight:bold;
    }
    span{
      height:2px;
      width:70px;
      background-color:$blue;
      margin:auto;
      display:block;
      margin-bottom:30px;
    }
    p{
      font-size:16px;
      line-height:1.6;
      margin-bottom:100px;
    }
  }
  .box{
    width:70%;
    margin:0 auto;
    .content{
      h5{
        padding-left:20px;
        font-weight:bold;
        margin-bottom:40px;
        img{
          width:100%;
        }
      }
      p{
        margin:0 auto;
        width:90%;
        margin-bottom: 20px;
        font-size: 16px;
      }
      table{
        width:90%;
        margin:0 auto;
        font-size:16px;
        margin-bottom:23px;
        color:black;
        th{
          font-weight:lighter;
          a{
            text-decoration: underline;
          }
        }
        th.num{
          background-color:$blue;
          color:#fff;
          text-align: center;
          font-weight:bold;
        }
      }
      .attention{
        margin-bottom: 60px;
        p{
          font-weight: bold;
          font-size: 16px;
        }
      }
      .explain{
        margin-bottom:100px;
        display: flex;
        align-items: center;
        font-size: 16px;
        span{
          margin-right:20px;
          width:20px;
          height:20px;
          img{
            width:100%;
          }
        }
        p{
          margin:0;
        }
      }
    }
    h2{
      color:$blue;
      padding-left:20px;
      border-left:3px solid $blue;
    }
    .content2{
      width:100%;
      margin:0 auto;
      display:flex;
      .img{
        width:50%;
        img{
          width:100%;
        }
      }
      .sentence{
        width:50%;
        padding-top:15px;
        padding-left:30px;
        p{
          font-size:16px;
        }
        img{
          width:100%;
        }
      }
    }
    .content3{
      margin-top: 30px;
      .item{
        border-bottom: 1px solid #dee2e6;
        padding: 10px 15px;
        box-sizing: border-box;
        background: #282655;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
      }
      .table{
        display: table;
        border-collapse:  collapse;
        border: 1px solid #dee2e6;
        margin-bottom: 0;
        .content,.package_detail{
          display: table-cell;
          font-size: 16px;
        }//content
        .content{
          border-right: 1px solid #dee2e6;
          div{
            padding: 10px 15px;
            box-sizing: border-box;
          }
          .package_name{
            font-weight: bold;
          }
          .price{
            .red{
              color: red;
              font-weight: bold;
            }
          }
        }//content
        .package_detail{
          ul{
            li{
              padding: 10px 15px;
              border-bottom: 1px solid #dee2e6;
              box-sizing: border-box;
              &:last-child{
                border-bottom: none;
              }
              &:nth-child(even){
                background: #f4f4f4;
              }
            }
          }
        }//.package_detail
      }
      figure{
        border: 1px solid #dee2e6;
        text-align: center;
        img{
          max-width: 980px;
          margin: 0 auto;
        }
        span{
          font-size: 14px;
          color: red;
          display: block;
          margin: 10px 0;
        }
      }
    }//content03
    .contact_ascent{
      text-align: center;
      .attention{
        // background: red;
        padding: 15px 0;
        box-sizing: border-box;
        p{
          color: red;
          font-weight: bold;
          font-size: 16px;
          margin-bottom: 0;
        }
      }//attention
      .btn{
        margin-top: 20px;
        a{
          color: #fff;
          font-weight: bold;
          font-size: 16px;
          padding: 20px 30px;
          background: #282655;
          box-sizing: border-box;
          border-radius: 20px;
          &:hover{
            opacity: 0.85;
          }
        }
      }
    }
  }
}
section#section05{
  padding:96px 15px;
  font-family: "ヒラギノ角ゴシック", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  h2{
    color:$blue;
    text-align: center;
    font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    font-size:32px;
    line-height:1.7;
    margin-bottom:35px;
    font-weight:bold;
  }
  span{
    height:2px;
    margin:auto;
    width:70px;
    display: block;
    background-color:$blue;
    margin-bottom:50px;
  }
  .img-box{
    max-width:1180px;
    width:100%;
    margin:0 auto;
    img{
      width:100%;
    }
  }
}
section#section07{
  background-position:bottom;
  background-color:#141a3a;
  background-size: cover;
  background-repeat:no-repeat;
  padding:50px 15px;
  position:relative;
  .junl-list{
    color:#fff;
    display: flex;
    max-width:900px;
    width:100%;
    margin:0 auto 30px;
    p{
      font-size: 18px;
      text-align: center;
      span{
        border-left:#fff 2px solid;
        padding:5px 20px;
        margin-bottom:7px;
        line-height:2;
      }
      span.borderRight{
        border-right:#fff 2px solid;
      }
    }
  }
  .content-box{
    .content{
      background-color: #fff;
      max-width:1080px;
      width:100%;
      margin:0 auto 30px;
      padding:42px 50px 38px 50px;
      h2{
        color:$blue;
        margin-bottom:35px;
        font-size: 28px;
        font-weight:bold;
        padding-left: 20px;
        border-left:$blue 3px solid;
      }
      .item{
        max-width:980px;
        width:100%;
        margin:0 auto;
        display:flex;
        .img{
          padding:0 30px 0 0;
          width:50%;
          box-sizing:border-box;
          iframe{
            width:100%;
            height:300px;
          }
          a{
            color:#a3a3a3;
            margin-bottom:18px;
            display:block;
            font-size: 14px;
            &.gray{
              margin-bottom: 18px;
              display: block;
            }
          }
          .thumb a{
            margin-bottom: 0;
          }
          .junl{
            color:#fff;
            display:flex;
            flex-wrap:wrap;
            span{
              padding:4px 15px;
              font-size:16px;
              margin-right:8px;
              border-radius: 5px;
              margin-bottom:7px;
            }
            span.junl1{
              background-color:#5faee6;
            }
            span.junl2{
              background-color:#edd825
            }
            span.junl3{
              background-color:#e58850;
            }
            span.junl4{
              background-color:#536dc5;
            }
            span.junl5{
              background-color:#53bdc5;
            }
            span.junl6{
              background-color:#55c37c;
            }
            span.junl7{
              background-color:#a9ce52;
            }
            span.junl8{
              background-color: #f57474;
            }
            span.junl9{
              background-color:#e74242;
            }
            span.junl10{
              background-color:#da708d;
            }
            span.junl11{
              background-color:#9e83ca;
            }
          }
        }
        .description{
          width:50%;
          h5{
            margin-bottom:18px;
            font-size:20px;
            color:$blue;
            font-weight:bold;
          }
          p{
            line-height:1.4;
            font-size:16px;
          }
          ul{
            color:black;
            font-size: 16px;
            line-height:1.4;
            list-style: disc;
            li{
              color:black;
            }
          }
          ul.list-num{
            list-style-type:none;
            padding-left:0;
          }
        }
      }
    }
    .hidden1.closed{
      display:none;
    }
    .hidden1.opened{
      display:block;
    }
    .hidden2.closed{
      display:none;
    }
    .hidden2.opened{
      display:block;
    }
    .btn{
      text-align: center;
      width:100%;
      button.btn-more{
        background-color: transparent;
        outline:none;
        border:none;
        img{
          width:85px;
        }
      }
      button.btn-more.opened{
        .open{
          display:none;
        }
        .closing{
          display:block;
        }
      }
      button.btn-more.closed{
        .open{
          display: block;
        }
        .closing{
          display:none;
          opacity:1;
        }
      }
    }
  }
}
section#section06{
  // display:none;
  padding:95px 15px 130px;
  h2{
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    font-size:32px;
    font-weight:bold;
    text-align: center;
    color:$blue;
    margin-bottom:30px;
  }
  span.border_bottom{
    height:2px;
    width:70px;
    display:block;
    background-color:$blue;
    margin:auto;
    margin-bottom:30px;
  }
  p{
    text-align:center;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom:40px;
  }
  .contact_box{
    max-width: 980px;
    margin: 0 auto;
    box-shadow: 0px 0px 3px 3px #dedfe2;
    border-radius: 10px;
    padding: 35px 50px;
    margin-bottom: 25px;
    box-sizing: border-box;
    background: #fff;
  }
}

@media #{$tablet}{
  section#section01{
    background-image:url(../images/section01-bg.jpg);
    background-size:cover;
    padding:157px 15px 30px;

    .sentence{
      color:#fff;
      padding-left:73px;
      margin-bottom:100px;
      h3{
        font-size:25px;
        margin-bottom:25px;
      }
      p{
        font-size:15px;
      }
    }
  }
  section#section02{
    padding-bottom:100px;
    position:relative;
    .contact_btn{
      width:50px;
      position:fixed;
      top:300px;
      right:0;
      transform:translateY(-50px);
      background:none;
      border:none;
      padding:0;
      img{
        width:100%;
      }
    }
    .box{
      .content{
        justify-content: space-around;
        display:flex;
        width:80%;
        margin:0 auto;
        margin-bottom:80px;
        transform:translateY(-50px);
        .item{
          width:30%;
          border:2px solid $blue;
          .title{
            background-color:$blue;
            color:#fff;
            padding-top:20px;
            padding-bottom:10px;
            padding-right:3px;
            padding-left:3px;
            margin-bottom:25px;
            text-align: center;
            font-family:"ヒラギノ明朝 Pro";
            h5{
              margin:0;
              font-size: 16px;
            }
          }
          .sentence{
            padding:0 15px;
            font-family:"ヒラギノ角ゴシック";
            img{
              width:100%;
              margin-bottom: 15px;
            }
            p{
              font-size: 14px;
            }
          }
        }
      }
    }
    .box2{
      display:flex;
      flex-wrap:wrap;
      width:80%;
      margin:0 auto;
      .img{
        width:100%;
        padding:30px;
        box-sizing:border-box;
        img{
          width:100%;
        }
      }
      .sentence{
        width:100%;
        padding:25px 40px 20px 40px;
        font-family:"ヒラギノ角ゴシック";
        h5{
          font-size: 22px;
          color:$blue;
          margin-top:0;
          margin-bottom:15px;
          font-family: "ヒラギノ角ゴシックz";
        }
        span{
          background-color:$blue;
          width:70px;
          display: block;
          margin-bottom:35px;
          height:2px;
        }
        p{
          font-size: 14px;
          line-height: 1.6;
        }
      }
    }
  }
  section#section03{
    padding:0px 15px;
    .title{
      margin-bottom:30px;
    }
    h2{
      font-size:25px;
      margin-bottom:25px
    }
    span{
      width:70px;
      height:2px;
      background-color:#fff;
      margin:auto;
      display: block;
      margin-bottom:30px;
    }
    p{
      font-size:16px;
      margin-bottom:30px;
    }
    .content{
      display:flex;
      justify-content: space-between;
      width:80%;
      margin:0 auto 95px auto;
      .img{
        width:80%;
        margin:0 auto 40px auto;
        img{
          width:100%;
        }
      }
      .sentence{
        width:100%;
        text-align: left;
        h5{
          margin-bottom:25px;
          img{
            width:30%;
          }
        }
        p{
          padding-left: 40px;
          font-size:14px;
        }
      }
    }
    .content01{
      flex-wrap: wrap-reverse;
    }
    .content02{
      flex-wrap: wrap;
    }
    h4{
      font-size:22px;
      margin-bottom:15px;
    }
    span{
      background-color:#fff;
      height:2px;
      margin:auto auto;
      width:70px;
      margin-bottom:62px;
    }
    .content2{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width:80%;
      margin:auto;
      .item{
        width:48%;
        margin:0 auto 30px auto;
        border-radius:5px;
        padding:20px;
        padding-top:0;
        box-sizing:border-box;
        title{
          display: block;
          font-size: 20px;
          border-bottom:3px #fff solid;
          padding:20px 0;
          box-sizing:border-box;
          margin-bottom:20px;
        }
        ul{
          padding:0;
          list-style: none;
          text-align: left;
          li{
            font-size: 16px;
          }
        }
      }
    }
  }
  section#section04{
    padding:60px 15px;
    .title{
      text-align: center;
      h2{
        color:$blue;
        font-size: 25px;
        line-height:1.7;
        padding-bottom:20px;
      }
      span{
        height:2px;
        width:70px;
        background-color:$blue;
        margin:auto;
        display:block;
        margin-bottom:20px;
      }
      p{
        font-size:14px;
        line-height:1.6;
        margin-bottom:60px;
      }
    }
    .box{
      width:70%;
      margin:0 auto;
      .content{
        h5{
          padding-left:20px;
          font-weight:bold;
          margin-bottom:40px;
          overflow: hidden;
          img{
            width:100%;
          }
        }
        p{
          margin:0 auto;
          width:90%;
          margin-bottom: 10px;
        }
        table{
          width:90%;
          margin:0 auto;
          font-size:14px;
          margin-bottom:23px;
          color:black;
          th{
            font-weight:lighter;
          }
          th.num{
            color:#fff;
            text-align: center;
            font-weight:bold;
          }
        }
        .explain{
          display:flex;
          span{
            width:20px;
            height:20px;
            border-radius: 50%;
            display: block;
            img{
              width:100%;
            }
          }
          margin-bottom:100px;
        }
      }
      h2{
        color:$blue;
        padding-left:20px;
        border-left:3px solid $blue;
      }
      .content2{
        width:100%;
        margin:0 auto;
        display:flex;
        flex-wrap: wrap;
        .img{
          width:100%;
          margin-bottom:30px;
          img{
            width:100%;
          }
        }
        .sentence{
          width:100%;
          padding:15px 20px;
          p{
            font-size:16px;
          }
          img{
            width:100%;
          }
        }
      }

    }
  }
  section#section05{
    padding:56px 15px;
    font-family:"ヒラギノ角ゴシック";
    h2{
      color:$blue;
      text-align: center;
      font-family:"ヒラギノ明朝 Pro";
      font-size:25px;
      line-height:1.7;
      margin-bottom:25px;
    }
    span{
      height:2px;
      margin:auto;
      width:70px;
      display: block;
      background-color:$blue;
      margin-bottom:50px;
    }
    .img-box{
      max-width:1180px;
      width:100%;
      margin:0 auto;
      img{
        width:100%;
      }
    }
  }
  section#section07{
      padding:50px 30px;
    .junl-list{
      max-width:867px;
      margin:0 auto 30px;
      flex-wrap:wrap;
      p{
        padding:5px 20px;
        font-size: 18px;
        margin-bottom:7px;
        span{
          margin-bottom:8px;
          line-height:2;
        }
      }
      li:last-child{
        border-right:#fff 2px;
      }
    }
    .content-box{
      .content{
        background-color: #fff;
        max-width:1080px;
        width:100%;
        margin:0 auto 30px;
        padding:42px 50px 38px 50px;
        h2{
          color:$blue;
          margin-bottom:35px;
          font-size: 23px;
          font-weight:bold;
          padding-left: 20px;
          border-left:$blue 3px solid;
        }
        .item{
          max-width:980px;
          width:100%;
          margin:0 auto;
          display:block;
          .img{
            padding:0 30px;
            width:100%;
            box-sizing:border-box;
            img{
              width:100%;
              margin-bottom:7px;
            }
            a{
              color:#a3a3a3;
              margin-bottom:15px;
            }
            .junl{
              color:#fff;
              display:flex;
              flex-wrap:wrap;
              span{
                padding:4px 15px;
                font-size:16px;
                margin-right:8px;
                border-radius: 5px;
                margin-bottom:7px;
              }
            }
          }
          .description{
            width:100%;
            padding:30px;
            h5{
              margin-bottom:18px;
              font-size:18px;
              color:$blue;
              font-weight:bold;
            }
            p{
              line-height:1.4;
              font-size:14px;
            }
            ul{
              color:black;
              font-size: 16px;
              line-height:1.4;
              list-style: disc;
              li{
              }
            }
          }
        }
      }
      .btn{
        text-align: center;
        width:100%;
        button.btn-more{
          background-color: transparent;
          border:none;
          img{
            width:55px;
          }
        }
        button.btn-more.opened{
          .open{
            display:none;
          }
          .close{
            display:block;
          }
        }
        button.btn-more.closed{
          .open{
            display: block;
          }
          .close{
            display:none;
            opacity:1;
          }
        }
      }
    }
  }
  section#section06{
    h2{
      font-family:"ヒラギノ明朝 Pro";
      font-size:25px;
      text-align: center;
      color:$blue;
      margin-bottom:20px;
    }
    span.border_bottom{
      height:2px;
      width:70px;
      display:block;
      background-color:$blue;
      margin:auto;
      margin-bottom:30px;
    }
    p{
      text-align:center;
      font-size: 16px;
      line-height: 1.6;
      margin-bottom:30px;
    }
  }
}

@media #{$phone}{
  .triangle3{
    width:0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #fff;
    margin:0 auto;
    background-color:#212121 ;
    transform: translateY(-40px);
  }
  section#section01{
    padding:130px 15px 15px;
    background-image:url(../images/section01-bg2.png);
    background-position: bottom;
    .sentence{
      padding-left:0px;
      margin-bottom:30px;
      h3{
        font-size:22px;
        margin-bottom:45px;
        line-height:1.5;
      }
      p{
        font-size:16px;
        br{
          display:none;
        }
      }
    }
  }
  section#section02{
    padding-bottom:40px;
    position:relative;
    .contact_btn{
      width:40px;
      position:fixed;
      top:300px;
      right:0;
      transform:translateY(-70px);
      background:none;
      border:none;
      padding:0;
      img{
        width:100%;
      }
    }
    .box{
      .content{
        justify-content: space-around;
        display:flex;
        flex-wrap: wrap;
        width:80%;
        margin:0 auto;
        margin-bottom:80px;
        transform:translateY(50px);
        .item{
          width:100%;
          margin-bottom:30px;
          .title{
            padding-top:10px;
            padding-bottom:10px;
            padding-right:3px;
            padding-left:3px;
            margin-bottom:20px;
            h5{
              font-size: 16px;
            }
          }
          .sentence{
            padding:0 15px;
            text-align: center;
            img{
              width:50%;
              margin:auto;
              margin-bottom: 15px;
            }
            p{
              font-size: 14px;
              text-align: left;
            }
          }
        }
      }
    }
    .box2{
      display:flex;
      flex-wrap:wrap;
      width:90%;
      margin:0 auto;
      .img{
        width:100%;
        padding:15px;
        box-sizing:border-box;
        img{
          width:100%;
        }
      }
      .sentence{
        width:100%;
        padding:5px 10px 20px 10px;
        font-family:"ヒラギノ角ゴシック";
        h5{
          font-size: 20px;
          color:$blue;
          margin-top:0;
          margin-bottom:15px;
          font-family: "ヒラギノ角ゴシックz";
        }
        span{
          background-color:$blue;
          width:70px;
          display: block;
          margin-bottom:35px;
          height:2px;
        }
        p{
          font-size: 14px;
          line-height: 1.6;
        }
      }
    }
  }
  section#section03{
    padding:0px 15px;
    background-image:none;
    .inner{
      width:100%;
      padding:40px 15px;
    }
    .title{
      margin-bottom:25px;
    }
    h2{
      font-size:20px;
      margin-bottom:25px;
    }
    span{
      width:70px;
      height:2px;
      background-color:#fff;
      margin:auto;
      display: block;
      margin-bottom:30px;
    }
    p{
      font-size:14px;
      margin-bottom:15px;
      text-align: left;
      br{
        display:none;
      }
    }
    .content{
      display:flex;
      justify-content: space-between;
      width:100%;
      margin:0 auto 45px auto;
      .img{
        width:100%;
        margin:0 auto 30px auto;
        img{
          width:100%;
        }
      }
      .sentence{
        width:100%;
        text-align: left;
        h5{
          margin-bottom:25px;
          img{
            width:50%;
          }
        }
        p{
          margin-bottom:0px;
          padding-left: 0px;
          font-size:14px;
        }
      }
    }
    .content01{
      flex-wrap: wrap-reverse;
    }
    .content02{
      flex-wrap: wrap;
    }
    h4{
      font-size:20px;
      margin-bottom:15px;
    }
    span{
      background-color:#fff;
      height:2px;
      margin:auto auto;
      width:70px;
      margin-bottom:32px;
    }
    .content2{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width:90%;
      margin:auto;
      .item{
        width:100%;
        margin:0 auto 30px auto;
        border-radius:5px;
        padding:10px;
        padding-top:0;
        box-sizing:border-box;
        title{
          display: block;
          font-size: 18px;
          border-bottom:3px #fff solid;
          padding:15px 0;
          box-sizing:border-box;
          margin-bottom:20px;
        }
        ul{
          padding:0;
          list-style: none;
          text-align: left;
          li{
            font-size: 14px;
          }
        }
      }
    }
  }
  section#section04{
    padding:30px 15px;
    .title{
      text-align: center;
      h2{
        color:$blue;
        font-size: 22px;
        line-height:1.7;
        padding-bottom:10px;
      }
      span{
        height:2px;
        width:70px;
        background-color:$blue;
        margin:auto;
        display:block;
        margin-bottom:20px;
      }
      p{
        font-size:13px;
        line-height:1.6;
        margin-bottom:30px;
        text-align: left;
        br{
          display: none;
        }
      }
    }
    .box{
      width:100%;
      margin:0 auto;
      .content{
        h5{
          padding-left:0px;
          font-weight:bold;
          margin-bottom:20px;
          overflow: hidden;
          img{
            width:180%;
          }
        }
        p{
          margin:0 auto;
          width:90%;
          font-size:14px;
          margin-bottom: 10px;
        }
        table{
          width:100%;
          margin:0 auto;
          font-size:14px;
          margin-bottom:23px;
          color:black;
          th{
            font-weight:lighter;
          }
          th.num{
            color:#fff;
            font-size: 13px;
            text-align: center;
            font-weight:bold;
          }
        }
        .explain{
          span{
            width:20px;
            height:20px;
            border-radius: 50%;
            display: block;
          }
          margin-bottom:60px;
        }
      }
      h2{
        color:$blue;
        padding-left:20px;
        border-left:3px solid $blue;
      }
      .content2{
        width:100%;
        margin:0 auto;
        display:flex;
        flex-wrap: wrap;
        .img{
          width:100%;
          margin-bottom:20px;
          img{
            width:100%;
          }
        }
        .sentence{
          width:100%;
          padding:15px 0px;
          p{
            font-size:14px;
          }
          img{
            width:100%;
          }
        }
      }
      .contact_ascent{
        .btn{
          a{
            font-size: 14px;
          }
        }
      }
    }
  }
  section#section05{
    padding:36px 15px;
    h2{
      font-size:22px;
      line-height:1.7;
      margin-bottom:25px;
    }
    span{
      height:2px;
      margin:auto;
      width:70px;
      display: block;
      background-color:$blue;
      margin-bottom:50px;
    }
    .img-box{
      max-width:1180px;
      width:100%;
      margin:0 auto;
      img{
        width:100%;
      }
    }
  }
  section#section07{
      padding:30px 15px;
    .junl-list{
      max-width:867px;
      margin:0 auto 30px;
      flex-wrap:wrap;
      p{
        font-size: 13px;
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        span{
          padding: 5px 20px;
          line-height: 2.5;
          display: inline-block;
          text-align: center;
          background: #fff;
          color: #000;
          margin-right: 5px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          border-radius: 5px;
          border: none;
          color: #fff;
          font-weight: bold;
        }
      }
      li:last-child{
        border-right:#fff 2px;
      }
      span.junl1{
        background-color:#5faee6;
      }
      span.junl2{
        background-color:#edd825
      }
      span.junl3{
        background-color:#e58850;
      }
      span.junl4{
        background-color:#536dc5;
      }
      span.junl5{
        background-color:#53bdc5;
      }
      span.junl6{
        background-color:#55c37c;
      }
      span.junl7{
        background-color:#a9ce52;
      }
      span.junl8{
        background-color: #f57474;
      }
      span.junl9{
        background-color:#e74242;
      }
      span.junl10{
        background-color:#da708d;
      }
      span.junl11{
        background-color:#9e83ca;
      }
      span.junl0{
        color:black;
      }
    }
    .content-box{
      .content{
        margin:0 auto 30px;
        padding:42px 20px 38px 20px;
        h2{
          color:$blue;
          margin-bottom:35px;
          font-size: 20px;
          font-weight:bold;
          padding-left: 10px;
          border-left:$blue 3px solid;
        }
        .item{
          width:100%;
          margin:0 auto;
          display:block;
          .img{
            padding:0;
            width:100%;
            box-sizing:border-box;
            margin-bottom:20px;
            iframe{
              height:300px;
            }
            a{
              color:#a3a3a3;
              margin-bottom:15px;
            }
            .junl{
              color:#fff;
              display:flex;
              flex-wrap:wrap;
              span{
                padding:2px 18px;
                font-size:14px;
                margin-right:8px;
                border-radius: 5px;
                margin-bottom:7px;
              }
            }
          }
          .description{
            width:100%;
            padding:0px;
            h5{
              margin-bottom:16px;
              font-size:16px;
              color:$blue;
              font-weight:bold;
            }
            p{
              line-height:1.4;
              font-size:14px;
              br{
                display:none;
              }
            }
            ul{
              color:black;
              font-size: 14px;
              line-height:1.4;
              list-style: disc;
              padding-left:15px;
              li{
              }
            }
          }
        }
      }
      .btn{
        text-align: center;
        width:100%;
        button.btn-more{
          background-color: transparent;
          border:none;
          img{
            width:65px;
          }
        }
        button.btn-more.opened{
          .open{
            display:none;
          }
          .close{
            display:block;
          }
        }
        button.btn-more.closed{
          .open{
            display: block;
          }
          .close{
            display:none;
            opacity:1;
          }
        }
      }
    }
  }
  section#section06{
    h2{
      font-size:22px;
      margin-bottom:15px;
    }
    span.border_bottom{
      height:2px;
      width:70px;
      display:block;
      background-color:$blue;
      margin:auto;
      margin-bottom:30px;
    }
    p{
      text-align:center;
      font-size: 14px;
      line-height: 1.6;
      margin-bottom:30px;
    }
  }
}
.pc-only{
  display:none;
}
.tablet-only{
  display:none;
}
.phone-only{
  display:none;
}
@media #{$pc}{
  .pc-only{
    display:block;
  }
  .borderRightPc{
    border-right:2px #fff solid;
  }
}
@media #{$tablet}{
  .tablet-only{
    display:block;
  }
  .borderRightTablet{
    border-right:2px #fff solid;
  }
}
@media #{$phone}{
  .phone-only{
    display:block;
  }
  .borderRightPhone{
    border-right:#fff 2px solid;
  }
}

/*********************/
/***Form resset css***/
/*********************/

.aptoenq_cusinfo .aptoenq_cusinfo_subj{
  font-size: 18px;
}

.aptoenq_q.aptoenq_l {
  font-size: 1.5rem;
  line-height: 1.5;
}

.aptoenq_q{
  padding: 13px 20px;
}

.aptoenq_a{
  padding: 10px 0;
}

.aptoenq_question textarea, #aptoenqform textarea{
  width: 100%;
  margin:0px auto;
  padding: 6px 8px !important;
  /* background-color: #F9FAFB; */
  outline: none;
  border:1px solid #CCC;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  box-sizing: border-box; /* パディングとボーダーを幅と高さに含める */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
