meta charset="UTF-8"
meta http-equiv="X-UA-Compatible" content="IE=Edge"
meta name="viewport" content="width=device-width,initial-scale=1.0"

meta name="description" content="#{{description}}"
meta name="keywords" content="#{{keywords}}"

/************ OGP設定 **************/
head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/ fb# website: http://ogp.me/ns/ website#"
meta property="og:url" content="サイトURL"
meta property="og:type" content="website"
meta property="og:title" content="#{{title}}"
meta property="og:description" content="#{{description}}"
meta property="og:site_name" content="#{{title}}"
meta property="og:image" content="./assets/images/OGP.jpg"
/**********************************/

title #{{title}}

link rel="stylesheet" href="./assets/css/reset.css"
link rel="stylesheet" href="./assets/css/style.css"
<!--[if lt IE 9]>
  script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"
  script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"
<![endif]-->
